﻿.textLeft a 
{
    color:White;
}
.textLeft a:hover 
{
    color:#505252;
}
.pageControls .prev 
{
    padding:0 5px 0 0;
}
.pageControls a.Page
{
    padding:0 5px 0 0;
    text-decoration:none;
}
.pageControls a.curPage
{
    text-decoration:underline;
}
.pageControls a.prev, .pageControls a.next
{
    text-decoration:none;
    font-size:14px;
}
.pageControls a.prev:hover, .pageControls a.next:hover 
{
    text-decoration:underline;
}