﻿html, body 
{
    background-color:Black;
    background-image:url(/assets/back.jpg);
    background-repeat:repeat;
    position:relative;
    height:100%;
}
#title 
{
    left: -5px;
    position: absolute;
    top: 265px;   
}
#title a 
{
    color:White;
    text-decoration:none;
}
#container 
{
    width:1000px;
    padding-left:50px;
    min-height:100%;
    position:relative;
}
#footer
{
   position:absolute;
   bottom:10px;
   width:902px;
   left:0;
   text-align:right;
   font-family:Times New Roman;
   font-size:15px;
   letter-spacing:1px;
   color:White;
   
} 
#menu 
{
    padding:60px 0;
    font-family:HelveticaNeueLT45LightRegular;
}
a, a:visited 
{
    color:Black;
}
.m
{   
  text-decoration:none;
  color:Black;
  width:150px;
  height:90px;
  padding-top:60px;
  text-align:center;
  display:block;
  float:left;
  margin-right:27px;
  background:Transparent url(/assets/menu_Back.png) no-repeat scroll center top;
  font-size:30px;
}
.m:hover, #menu a.active
{
    background-position:center bottom;
    color:White;
}
.col_left 
{
    width:325px;
    float:left;
    margin-right:27px;
}
.col_right
{
    width:500px;
    float:left;
}
.col_left_title 
{
    width:150px;
    height:150px; 
    background-color:White;
    float:right;
    font-family:HelveticaNeueLT45LightRegular;
    font-size:30px;
    position:relative;
    text-align:center;
}
.col_left_table 
{
    display:table;
    width:150px;
    height:150px;
}
.col_left_cell 
{
    display:table-cell;
    vertical-align:middle;
    text-decoration:none;
}
a.col_left_cell:hover 
{
    background-color:#505252;
    color:White;
}
.col_right_text 
{
    background-color:White;
    font-family:HelveticaNeueLT55RomanRegular;
    padding:25px;
}
.clear 
{
    clear:both;
    float:none;
}
#content 
{
    color:#333333;
    padding-bottom:80px;
}
.col_left .textLeft
{
    color:White;
    margin:260px 0 0 43px;
    font-size:14px;
    font-family:Arial;
    width:280px;
}
.col_right_text .title
{
    font-weight:bold;
    font-size:18px;
    font-family:Times New Roman;
    margin-bottom:15px;
}
.col_right_text .paragraphTitle
{
    font-weight:bold;
    font-family:HelveticaNeueLT55RomanRegular;
    font-size:14px;
}
.col_right_text .blogText
{
    font-family:HelveticaNeueLT55RomanRegular;
    font-size:14px;
}
.listText
{
    padding-bottom:20px;
    font-size: 14px;
}
.listItem 
{
    margin-bottom:5px;
}
.listText .listBullet
{
    float:left;
    width:20px;
}
.listText .listContent
{
    float:left;
    width:429px;
}
.col_right_text .blogText, .col_right_text .oneImage, .col_right_text .twoImages, .col_right_text .video, .col_right_text .audio
{
    margin-bottom:20px;
}
.col_right_text .audio audio 
{
    width:100%;
}
.col_right_text .twoImages .left
{
    float:left;
}
.col_right_text .twoImages .right
{
    float:right;
}
#facebookLike 
{
    position:absolute;
    bottom:9px;
    right:0;
}
#facebookLike .connect_widget_button_count_count 
{
    background-color:#CAD4E7;
}
.langs 
{
    width:853px;
    text-align:right;
    padding-bottom:5px;
}
a.lang 
{
    color:White;
    font-size: 13px;
    text-decoration:none;
    font-weight:bold;
    vertical-align:middle;
}
a.lang:hover, .langs a.active
{
    color:#505252;
}
.sep
{
    color:White;
    vertical-align:middle;
    font-size: 13px;
    text-decoration:none;
    margin:0 3px;
}
.col_left .textLeft a 
{
    text-decoration:none;
}
::-moz-selection{ background: #607890; color:#fff; text-shadow: none; }
::selection { background:#607890; color:#fff; text-shadow: none; } 

#footer
{
    white-space:nowrap;
    -webkit-text-size-adjust: none;
}
#footer a 
{
    color:White;
    text-decoration:none;
}
.contactCols .col_left .textLeft a, .creditCols .col_left .textLeft a 
{
    text-decoration:underline;
}