﻿div.contactLeft 
{
    width:290px;
    text-align:center;
    float:left;
    padding:130px 0 0 60px;
}
#content div.contactBottom .col_left 
{
    
   width:130px;
   padding-left:195px;
}
a#twitter
{
    background-image:url(/assets/twitter_1.png);
     width:110px;
    height:110px;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
}
a#facebook
{
    background-image:url(/assets/facebook_1.png);
     width:110px;
    height:110px;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    margin-bottom:30px;
}
a#mail
{
    background-image:url(/assets/mail_1.png);
     width:110px;
    height:110px;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    margin-bottom:30px;
}
a#impressumLink 
{
    
    height:110px;
    display:block;
    margin-top:50px;
    text-align:center;
    color:White;
    margin-right: 25px;
    font-family:Arial;
    font-size:15px;
    text-decoration:none;
    
}
a#impressumLink:hover
{
    text-decoration:underline;
}
div.contactRight
{
    float:left;
}
div.contactRight small a
{
    color:White;
}
img.cam 
{
    
    width:500px;
}
div.camlegend 
{
    color: White;
    font-family: Arial;
    font-size: 85%;
    margin-bottom:30px;
}
div.camlegend a
{
    color:White;
}
.googleMap a, div.camlegend a, #impressum a, a#impressumLink
{
    color:White;
    text-decoration:underline;
}
.googleMap a:hover, div.camlegend a:hover, #impressum a:hover,  a#impressumLink:hover
{
    color:#505252;
}