﻿.TumblrImage 
{
    width:809px;
}
.TumblrImage .image 
{
    background-color:Black;
    float:right;
    width:500px;
    color:White;
}
.TumblrImage .image a
{
    color:White;
    font-size:13px;
}
.TumblrImage .image a:hover
{
    color:#505252;
}
.TumblrImage .image .quote
{
    padding:10px;
    font-size:16px;
    font-style:italic;
}
.TumblrImage .image .title
{
    padding:0 10px 10px;
    font-size:13px;
}
.creditCols .col_left .textLeft 
{
    margin-top:0;
    padding-left:0;
    width:280px;
}
.creditCols .col_right 
{
    
}
a.imageLink img {
    margin-bottom:20px;
}
.creditTop
{
    margin:0 0 75px 43px;
    position:relative;
}
.creditTop .col_left
{
    width:280px;
    position:absolute;
    bottom:0;
    left:0;
    color: White;
    font-family: Arial;
    font-size: 14px;
}
.creditTop .col_left a
{
    color:White;
}
#nextCredit
{
    position:absolute;
    right:11px;
    top:0;
    margin-left:27px;
    width:95px;
    height:93px;
    color:Black;
    font-family:HelveticaNeueLT45LightRegular;
    padding:57px 0 0 15px;
    background-repeat:no-repeat;
    background-position:top center;
    background-image:url(/assets/arrow_next.png);
    font-size:30px;
    text-decoration:none;
}