.col_left_title 
{
    
    background-color:White;
    float:right;
    font-family:HelveticaNeueLT45LightRegular;
    font-size:30px;
    position:relative;
    padding:10px 0 0 10px;
    text-align:left;
}
.col_left_table 
{
    display:block;
    width:130px;
    height:130px;
}
.col_left_cell 
{
    display:block;
    vertical-align:middle;
}
.workCategories .catTitle 
{
    
    background-color:White;
        width:130px;
    height:130px;
    font-family:HelveticaNeueLT45LightRegular;
    font-size:30px;
    position:relative;
    padding:10px;
    text-align:left;
}
.workCategories .catTable 
{
    display:block;
    width:130px;
    height:130px;
}
.workCategories .catLink 
{
    display:block;
    vertical-align:middle;
    height:100%;
}
.workCategories .catTitle:hover 
{
    background-color:#505252;    
}
.workCategories .catTitle:hover a
{
    color:White;
}