﻿.lightboxLegend 
{
    display:block;
    margin-top:3px;
}
.lightboxFullHeight 
{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:Transparent url(/assets/lightboxBack.png) repeat scroll center center;
}
.lightboxTable
{
    display:table;
    width:100%;
    height:100%;
    text-align:center;
}
.lightboxCell 
{
     display: table-cell;
     vertical-align:middle;
}
.lightboxContent 
{
    display:inline-block;
    background-color:White;
    -webkit-box-shadow: 5px 5px 5px rgba(50,50,50, .3);
    -moz-box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.3);
    box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.3);
}
.lightboxLink 
{
    text-align:left;
}
.lightboxWarp 
{
    height:100%;
}