.font18 
{
    font-size:18px;
}
.Title14
{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}
.LeftText 
{
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.031em;
}
.LeftList 
{
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin:0 5px 0 0;
}