﻿div.workCategories
{
    margin-left:175px;
}
div.catTitle
{
    background-color: White;
    float: left;
    font-family: HelveticaNeueLT45LightRegular;
    font-size: 30px;
    height: 150px;
    position: relative;
    text-align: center;
    width: 150px;
    margin-right:27px;
}
div.catTable
{
    display: table;
    height: 150px;
    width: 150px;
}
div.workCategories a 
{
    display:table-cell;
    vertical-align:middle;
    text-decoration:none;
}
div#workCategorie div.col_right div.col_right_text
{
    padding:20px;
}
div#workCategorie div.col_right a.workContainer
{
    display:block;
    background-position:center center;
    background-repeat:no-repeat;
    width:220px;
    height:210px;
    float:left;
    margin-bottom:17px;
    position:relative;
    text-decoration:none;
}
div#workCategorie div.col_right a.workContainer span.legend 
{
    position:absolute;
    bottom:0;
    font-size:20px;
    font-family:HelveticaNeueLT45LightRegular;
    color:White;
    left:0;
    right:0;
    background-repeat:repeat;
    background-image:url(/assets/1x1.png);
    padding:35px;
    text-align:center;
    display:none;
}
div#workCategorie div.col_right a.workContainer:hover span.legend 
{
    display:block;
}
div#workDetail div.headerImg
{
    margin-bottom:17px;
    text-align:center;
}
a#nextWork 
{
    margin-left:27px;
    float:left;
    width:95px;
    height:93px;
    color:Black;
    font-family:HelveticaNeueLT45LightRegular;
    padding:57px 0 0 15px;
    background-repeat:no-repeat;
    background-position:top center;
    background-image:url(/assets/arrow_next.png);
    font-size:30px;
    text-decoration:none;
}
a.catLink:hover
{
    color:White;
    background-color:#505252;
}
a#nextWork:hover 
{
    background-position:bottom center;
    color:White;
}