/*
Copyright (c) 2009, Our Comapny Ltd All rights reserved.
version: 0.1
*/
 em { font-style:italic;} 
 b, strong {font-weight:bold;} 
 a {cursor:pointer;text-decoration:none;outline:expression(hideFocus='true'); outline:0;-moz-outline:0;} 
 a:hover * {cursor:pointer;}
 a:focus { outline-style: none;}