﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main.master" AutoEventWireup="true" CodeFile="Work.aspx.cs" Inherits="pages_Work" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="contentCPH" Runat="Server">
    <asp:PlaceHolder ID="contentPH" runat="server" />
</asp:Content>

